* {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #9c27b0, #8ecdff)
}
    
.container {
    margin: auto;
    margin-top: 200px;
    width: 700px;
    height: 250px;
    text-align: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: auto;
}

.container> #main-heading {
    color: white;
    font-size: 40px;
    padding: 2px;
}

.list-items{
    list-style: none;
    background: white;
    margin: 5px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.lbl {
    font-size: 20px;
}

#HeadingInput {
    font-size: 15px;
    padding: 10px;
    background: white;
    border: none;
    border-radius: 5px;
    outline: none;
} 

.btn {
    padding: 10px;
    background: rgb(77, 228, 18);
    font-size: 12px;
    font-weight: 500;
    border: 3px solid rgb(77, 228, 18);
    border-radius: 10px;
    cursor: pointer;
 }